body
{
  	border-style:none;
  	padding:0; /* 清除非IE浏览器页边距 */
  	margin:0; /* 清除IE浏览器页边距 */
}
#main
{
	position:absolute;
	left:0;
	top:0px;
	width:100%;
	height:auto;
	z-index:1;
}
#left {
	position:absolute;
	left:0;
	top:20px;
	width:50%;
	height:auto;
	z-index:2;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-right:2px;
}

#right {
	position:relative;
	top:20px;
	left:50%;
	width:50%;
	height:auto;
	z-index:2;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-left:2px;
	margin-right:0px;
}

#all {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	z-index:2;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-right:2px;
}

#JudgeCon{
	position:relative;
	top:0;
	left:50%;
	width:50%;
	height:auto;
	z-index:2;
	margin-left:2px;
	margin-right:0px;
}

td
{
	font-family:宋体,Helvetica,sans-serif;
	font-size: 14px;
}

a
{
	color:#000000;
	font-family:宋体,Helvetica,sans-serif;
	font-size: 14px;
	hide-focus: expression(this.hideFocus=true);
	outline: none;
}

a:link
{
	text-decoration: none;
	color:#000000;
	font-family:宋体, Helvetica, sans-serif;
	font-size: 14px;
}

a:visited
{
	text-decoration: none;
	color:#000000;
}

a:hover
{
	text-decoration: none;
	color: #0000DC;
}

a:active
{
	text-decoration: none;
	color: #000000;
}

a.new:link
{
	color:#FF3232;
}

a.new:visited
{
	text-decoration: none;
	color:#FF3232;
}

a.new:hover
{
	text-decoration: none;
	color: #0000DC;
}

a.new:active
{
	text-decoration: none;
	color: #FF3232;
}

.column
{
	background-color:#fcfcfc;
	text-align:center;
	color:#000000;
	padding:1px;
}

.row1
{
	background-color:#fcfcfc;
	padding:3px;
	vertical-align:middle;
	text-overflow:ellipsis;white-space:nowrap;overflow: hidden;
}

.row2
{
	background-color:#fcfcfc;
	padding:3px;
	vertical-align:middle;
	text-overflow:ellipsis;white-space:nowrap;overflow: hidden;
}

html
{
	scrollbar-face-color: #fcfcfc;
	scrollbar-shadow-color: #808080;
	scrollbar-highlight-color: #fcfcfc;
	scrollbar-3dlight-color: #808080;
	scrollbar-darkshadow-color: #fcfcfc;
	scrollbar-track-color: #fcfcfc;
	scrollbar-arrow-color: #808080;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 14px;
	font-family:宋体, Helvetica, sans-serif;
	color: #000000;
	background-color: #fcfcfc;
	background-position: left top;
}


/*滚动条样式*/
::-webkit-scrollbar {
	background-color: #fff;
  width:14px;
  height:14px;
}

::-webkit-scrollbar-thumb {
	background-color: #fff;
  border:#aaa solid 1px;
}
::-webkit-scrollbar-button:start:vertical{
    background: url(../cfg/imgs/scroll_up.png) center center no-repeat;
    height: 14px;
    border:#aaa solid 1px;
}
::-webkit-scrollbar-button:end:vertical{
    background: url(../cfg/imgs/scroll_down.png) center center no-repeat;
    height: 14px;
    border:#aaa solid 1px;
}